<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/product" method="POST">
        <input type="text" name="name" placeholder="Type product name" />
        <input type="text" name="description" placeholder="Type product description" />
        <input type="number" step="00.01" name="price" placeholder="Type product price" />

        <button type="submit">Save</button>
    </form>
</body>
</html>