<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Category</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for category in list_ %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>