{% extends 'template.html'%}

{% block body %}
    <h1>
        Product
    </h1>
    <div class="menu">
        <a href="/product/create">Create Product</a>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="/product/delete/{{ product.id_ }}">Delete</a>
                        <a href="/product/update/{{ product.id_ }}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class='action' href="/">Back</a>

{% endblock %}
