{% extends 'template.html' %}
{% block body %}
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Delete
            </th>
            <th>
                Update
            </th>
        </tr>
        {% for sport in sports %}
        <tr>
            <td>
                {{ sport.name }}
            </td>
            <td>
                {{ sport.description }}
            </td>
            <td>
                <a href='/sport/delete?id={{sport.id_}}'> Delete</a>                
            </td>
            <td>
                <a href='/sport/create?id={{sport.id_}}'> Update</a>                
            </td>     
        </tr>
        {% endfor %}
    </table>
{% endblock %}